<div class="input-field outlined">
    <select id="__id__" name="__name__"
            data-controller="select--default"
            data-action="change->search-filter#updateValueInput"
            data-search-filter-target="operatorInput"
    >
        {% for value, label in operators %}
            <option value="{{ value }}">{{ label|trans }}</option>
        {% endfor %}
    </select>
    <label for="__id__">{{ 'label.operator'|trans }}</label>
</div>